{% include 'header.html' %}
<div class="main-background">
    <section class="title">
        <h1>Ferat Ozbey</h1><br>
        <h2>Python Developer</h2>
    </section>
</div>

<div id="portfolio">
    <div>
        <h1 style="position:absolute; margin: 15vh 38vw 35vh;" >Portfolio Projects</h1>
    </div>
    <div class="row" style="width: 100vw; margin: 35vh 0; text-align:center;">
        <div class="col-lg-6 col-md-6">
            <h2>Text - Morse Code Generator</h2>
            <img alt="Morse" src="{{ url_for('static', filename='images/morse.png') }}" width="300" height="150">
        </div>
        <div class="col-lg-6 col-md-6">
            <h2>Tic Tac Toe</h2>
            <img alt="TicTacToe" src="{{ url_for('static', filename='images/tictactoe.png') }}" width="200" height="200">
        </div>
    </div>
</div>

<div id="about">
    <div class="col-lg-6 col-md-6"></div>
    <div class="col-lg-6 col-md-6">
        <h1 style="margin: 10vh 0; text-align:center;">About Me</h1>
        <p style="margin: 10vh 10vw; text-align:center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

</div>

<div id="contact">
    <div class="col-lg-6 col-md-6"></div>
    <div class="col-lg-6 col-md-6 card" style="width: 18rem;">
        <img class="card-img-top" src="{{ url_for('static', filename='images/profile.png') }}" alt="Card image cap" style="margin: 12vh 4.5rem 4vh 4.5rem; width:140px; height:auto">
        <div class="card-body">
            <h5 class="card-title">Contact Me</h5>
            <p class="card-text">Ferat Ozbey</p>
            <a class="icon fa-regular fa-envelope" href = "https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=feratozbey@gmail.com" target="blank"></a>
            <a class="icon fa-brands fa-github" href="https://github.com/feratozbey" target="blank"></a>
            <a class="icon fa-brands fa-linkedin" href="https://www.linkedin.com/in/ferat-%C3%B6zbey-0748b6149/" target="blank"></a>
        </div>
    </div>
</div>



<div class="copyright">
    <p style="margin: 4vh 40vw; color: gray ">Copyright © 2022 Ferat Ozbey</p>
</div>